.animation-num-box {
    height: 0.48rem;
    overflow: hidden;
    display: inline-block;
}

.animation-num {
    transition: margin .5s;
    -webkit-transition: margin .5s;
    -o-transition: margin .5s;
    -ms-transition: margin .5s; // float: left;
    display: block;
    &>li {
        width: 100%;
        height: 0.48rem;
        vertical-align: top;
        clear: both;
    }
}

.generate-currentNum(9);
.generate-currentNum(@n, @i: 0) when (@i =< @n) {
    .currentNum-@{i} {
        .animation-num();
        margin-top: @i *-0.48rem;
    }
    .generate-currentNum(@n, (@i + 1));
}